-# encoding: utf-8
!!! XML
!!!
%html
  %head
    %meta{'http-equiv' => 'content-type', :content => 'text/html; charset=utf-8'}
    %meta{'http-equiv' => 'content-style-type', :content => 'text/css'}
    %meta{'http-equiv' => 'content-script-type', :content => 'text/javascript'}
    %title Text amplifier - テキスト増幅器
  %body
    %h1 Textamp

    Powered by
    %a{:href => "http://www.ruby-lang.org/ja/"} Ruby
    ,
    %a{:href => "http://www.sinatrarb.com/intro-jp.html"} Sinatra
    ,
    %a{:href => "http://haml-lang.com/"} Haml

    %form{:action => url("/clone", false, true), :method => "post"}
      %p
        複製数
        %select{:name => "times"}
          - 1.upto(100) do |i|
            %option{:value => i}= i
        %input{:type => "checkbox", :name => "linefeed", :value => "1"} 改行
      %p
        %input{:type => "checkbox", :name => "increment", :value => "1"} 加算
        ='　'
        記号
        %select{:name => "increment_sign"}
          - %w(# $ % & @ + * ? _ -).each do |sign|
            %option{:value => sign}= sign
        ='　'
        開始値
        %select{:name => "increment_start"}
          - [0, 1].each do |i|
            %option{:value => i}= i
        ='　'
        桁数
        %select{:name => "increment_digit"}
          - 1.upto(10).each do |i|
            %option{:value => i}= i
      %p
        %input{:type => "checkbox", :name => "template", :value => "1"} テンプレート
        %input{:type => "text", :name => "template_sign", :size => 5}
        %textarea{:name => "template_text", :cols => 20, :rows => 3}
      %p
        %textarea{:name => "text", :cols => 40, :rows => 5}
      %p
        %input{:type => "submit"}
    %p
      %textarea{:cols => 40, :rows => 10}= @text
    %p
      HTTP GET URL
      %br
      %input{:type => "text", :size => 50, :value => @http_get_url}
